.chatContainer {
    display: flex;
    flex-direction: column;
    height: 100%;
    max-height: 100vh; 
    overflow: hidden;
  }
  
  .chatMessages {
    flex: 1;
    overflow-y: auto;
    padding: 20px;
  }
  
  .chatMessage {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
  }
  
  .myMessage {
    justify-content: flex-end;
    text-align: right;
  }
  
  .otherMessage {
    justify-content: flex-start;
  }

  .serpChatMessageContainer{
    display: flex;
    margin-bottom: 10px;
    flex-direction: column;
  }

  .serpChatMessage{
    display: flex;
    flex-direction: row;
  }
  
  .profileImage {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 0 10px;
  }

  .messageText {
    max-width: 60%;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: #f1f1f1;
    line-height: 1.3rem;
    position: relative;
  }
  
  .myMessage .messageText {
    background-color: #EAEBFF;
    order: 1; 
  }
  
  .myMessage .profileImage {
    order: 2; 
  }
  
  .navLinkButton {
    order: 2; /* 프로필 이미지의 오른쪽에 배치 */
    display: flex;
    align-items: center;
  }

  .crewButton {
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    color: #6970d5;;
    cursor: pointer;
    font-weight: bold;
  }

  .otherMessage .messageText,
  .otherMessage .navLinkButton {
    order: 2; 
  }
  
  .otherMessage .profileImage {
    order: 1; 
  }

  .buttonRow {
    padding: 3px 20px;
  }

  .chatButton {
    flex: 1;
    margin: 0 5px;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    background-color: #6970D5;
    color: white;
    cursor: pointer;
    letter-spacing: -1px;
  }
  
  .chatButton:hover {
    background-color: #b7cee7;
    color: white;
  }
  
  .messageInputContainer {
    display: flex;
    padding: 10px 20px;
  
  }

  .messageInputContainer > form{
    display: flex;
    width: 100%;
  }
  
  .messageInput {
    padding: 10px 30px;
    background-color: #F5F6FA;
    border-radius: 20px;
    margin-right: 10px;
    flex: 9.5;
  }
  
  .sendMessageButton {
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    background-color: #b7cee7;
    color: white;
    cursor: pointer;
    flex: 0.5;
  }
  .sendMessageButton:hover {
    background-color: #6970D5;
    color: white;
  }
  .tripPlaceSection,
  .dailyPlanSection{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
  }

.tripPlaceTitle{
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 8%;
  height: 10%;
  display: flex;
  align-items: center;
}
.tripPlaceContent{
  height: 90%;
  overflow-y: scroll;
}

.tripPlaceContent >ul {
  height: 110px;
  margin-bottom: 15px;
}

.tripPlaceContent >ul li{
  color: #525252;
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
  font-size: 15px;
  align-items: center;
  padding-left: 10px;
}

.tripPlaceName{
  flex: 8;
  line-height: 1.3rem;
}

.tripPlaceCalendar{
  flex: 2;
  text-align: center;
}

.dailyPlanList li{
  margin-bottom: 10%;
}

.dailyPlanContentTitle{
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 6%;
}

.dailyPlanDate{
  background-color: #b7cee7;
}

.trip_place_hoverPopup {
  position: absolute; /* 오버레이로 다른 요소 위에 표시 */
  background-color: rgba(255, 255, 255, 0.8); /* 오패시티가 40%인 흰색 */
  border-radius: 10px;
  padding: 20px; /* 내부 여백 */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* 약간의 그림자 효과 */
  font-size: 15px; /* 작은 폰트 크기 */
  z-index: 100; /* 다른 요소들 위에 표시되도록 z-index 설정 */
  width: 380px; /* 너비 설정 */
  right:40px;
  top:40px;
  line-height: 1.3rem;
  color: #808080;
}

.dailyPlanListContent{
  margin-bottom: 20px;
  border-bottom: px solid #ddd;
  padding-bottom: 10px;
}