.crewSection{
  margin-bottom: 30px;
}
.crewListContainer{
  height: 230px;
}
.section-title{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section-title span {
  font-weight: bold;
}

.crewList {
  display: flex;
  background-color: #fff;
  border-radius: 15px;
  padding: 10px;
  height: 230px;
}

.crewCards {
  display: flex;
  width: 100%;
  flex-direction: row;
}

.crewCard {
  width: calc(20% - 20px);
  margin: 10px;
  box-sizing: border-box;
  position: relative;
  transition: transform 0.3s ease-in-out;
}

.crewCard:hover {
  transform: scale(1.05); 
}

.crewCardImageWrapper {
  position: relative;
  height: 180px; 
  overflow: hidden;
  border-radius: 10px;
}

.crewCardImageWrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: 10px;
  transition: opacity 0.3s ease-in-out;
}

.crewCardImageWrapper:hover img {
  opacity: 0.8; 
}

.crewCardOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  border-radius: 10px;
  transition: opacity 0.3s ease-in-out;
}

.crewCardInfo {
  flex: 1;
}

.crewCardInfo .crewDate {
  font-size: 12px;
  margin-bottom: 5px;
}

.crewCardInfo .crewTitle {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
}

.deleteCrewButton {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: rgba(255, 255, 255, 0.3);
  color: #fff;
  font-size: 16px;
  padding: 5px;
  border-radius: 50%;
  cursor: pointer;
  transition: opacity 0.3s ease-in-out;
  opacity: 0;
}

.crewCard:hover .deleteCrewButton {
  opacity: 1; 
}

.scrollButton{
  border: none;
  font-size: 20px;
  padding: 0 10px;
  cursor: pointer;
}

.scrollButton:hover{
  background-color: #fff;
}

.newCrewButton{
  position: fixed;
  bottom: 30px; 
  right: 30px;
  background-color: #5d7cc0; 
  color: #fff; 
  font-size: 18px; 
  padding: 15px 20px; 
  border-radius: 50%; 
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
  z-index: 1000; 
}

.newCrewButton:hover::before {
  content: "새로운 크루 만들기"; 
  position: absolute;
  left: -120px;
  bottom: 50%; 
  background-color: #333; 
  color: #fff; 
  padding: 8px 16px; 
  border-radius: 5px;
  font-size: 14px;
  opacity: 0; 
  transition: opacity 0.3s ease;
}

.newCrewButton:hover {
  background-color: #436aa7; 
}

.newCrewButton:hover::before {
  opacity: 1;
}

/* 크루찾기 */

.searchCrewCards{
  display: flex;
  flex-direction:column;
}

.searchCrewCards > li{
  display: flex;
  flex-direction: row;
  background-color: #fff;
  margin-bottom: 20px;
  border-radius: 15px;
  padding: 2%;
  height: 250px;
}

.searchCrewCardImg{
  width: 30%;
}

.searchCrewCardImg img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
}
.searchCrewCardInfo{
  width: 30%;
  padding: 0 2%;
}
.searchCrewCardMate{
  width: 40%;
  padding-top: 1%;
}

.searchCrewTitle{
  font-size: 23px;
  font-weight: bold;
  margin-bottom: 4%;
}

.searchCrewDate{
  font-size: 18px;
  font-weight: bold;
  color:#3f3f3f;
  margin-bottom: 4%;
}

.searchCrewAddress{
  margin-bottom: 4%;
  line-height: 1.5rem;
}

.searchCrewNote{
  margin-bottom: 10%;
  color: #555555;
}

.searchCrewNum{
  color: #555555;
}

.searchCrewCardMate{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.joinReqBtn {
  align-self: flex-end; 
  margin-top: auto; 
  background-color: #8F97FC;
  padding: 10px 30px; 
  color: #fff;
  border-radius: 15px;
  cursor: pointer;
  transition: background-color 0.3s ease; 
}

.joinReqBtn:hover {
  background-color: #436aa7; 
}