.MyTrip_CardSection {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
}

.MyTrip_Container h1 {
  margin-bottom: 30px;
  margin-left: 20px;
  margin-top: 20px;
  font-size: 24px;
}

.TripCard_Card, .NewTrip_Card {
  width: 23.5%; 
  height: 400px; /* 동일한 높이 설정 */
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.2s;
  position: relative;
}

.TripCard_Card:hover, .NewTrip_Card:hover {
  transform: translateY(-5px);
}

.TripCard_ImageContainer, .NewTrip_ImageContainer {
  position: relative;
  width: 100%;
  height: 100%; /* 동일한 높이 설정 */
}

.TripCard_Image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(80%); /* 이미지 밝게 */
}

.TripCard_Image_Dark {
  filter: brightness(30%); /* 이미지 어둡게 */
}

.TripCard_Overlay, .NewTrip_Overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.TripCard_OverlayMiddleContent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.TripCard_Title {
  position: absolute;
  top: 5%;
  left: 5%;
  right: 5%;
  margin: 0;
  font-size: 1.1em;
  text-align: left;
  color: white;
  width: 75%;
}

.TripCard_DeleteButton {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.TripCard_Delete {
  color: white;
  font-size: 1.5em; /* 아이콘 크기 조정 */
}

.TripCard_Date {
  position: absolute;
  bottom: 5%;
  right: 5%;
  margin: 0;
  font-size: 0.9rem;
  text-align: right;
  color: white;
}

.TripCard_MainOverlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  text-align: center;
}

.TripCard_MainText {
  color: white;
  font-size: 1em;
  cursor: pointer;
}

.NewTrip_Card {
  display: flex;
  flex-direction: column; /* 위아래로 배치 */
  align-items: center;
  justify-content: center;
  background-color: #999;
}

.NewTrip_Card button {
  background: none;
  border: none;
  font-size: 3em;
  margin-bottom: 3vh;
  color: white;
}

.NewTrip_Card h3 {
  margin: 0;
  font-size: 1.2em;
  color: #fff;
  letter-spacing: -0.75px;
}
