/* src/styles/NewTripCrewPop.css */

.popupOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popupContent {
  background: white;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  width: 500px;
  max-width: 90%;
  max-height: 90%; /* 최대 높이 설정 */
  overflow-y: auto; /* 넘칠 경우 스크롤 가능 */
  text-align: center;
  position: relative;
}

.closeButton {
  background: transparent;
  border: none;
  font-size: 24px;
  position: absolute;
  top: 15px;
  right: 15px;
  cursor: pointer;
}

.newCrewForm {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.newCrewForm label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
}

.newCrewForm input,
.newCrewForm textarea,
.newCrewForm select {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
  transition: border-color 0.3s, box-shadow 0.3s;
}

.newCrewForm input[type="file"] {
  width: auto;
}

.newCrewForm input:focus,
.newCrewForm textarea:focus,
.newCrewForm select:focus {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.newCrewForm textarea {
  resize: vertical;
}

.newCrewForm button[type="submit"] {
  padding: 10px;
  background: #007bff;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s, box-shadow 0.3s;
}

.newCrewForm button[type="submit"]:hover {
  background: #0056b3;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.imagePreview {
  margin-top: 10px;
}

.imagePreview img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}
