.popup-overlay {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0, 0, 0, 0.5);
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 1000;
  }
  
  .popup-content {
	background: #FAF9FF;
	padding: 10px 25px;
	border-radius: 20px;
	position: relative;
	width: 550px;
  }
  
  
  .new-trip-title {
	text-align: center;
	font-size: 20px;
	font-weight: bold;
	margin-top: 10px;
  }
  
  .new-trip-form {
	display: flex;
	flex-direction: column;
	margin: 5% 7%;
	gap: 15px;
	align-items: flex-start;
  }
  
  .form-group {
	display: flex;
	width: 100%;
	align-items: center;
  }
  
  .form-group label {
	width: 20%;
	text-align: left;
	font-weight: bold;
  }
  
  .form-group input,
  .form-group select,
  .file-input-container {
	width: 80%;
	padding: 10px;
	border: 1px solid #DDDDDD;
	border-radius: 7px;
	box-sizing: border-box;
	color: #757575;
  }
  
  .region-select {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 10px;
	width: 80%
  }

  .region-select select {
	width: 100%;
	padding: 10px;
	border: 1px solid #DDDDDD;
	border-radius: 7px;
	box-sizing: border-box;
	color: #757575;
  }
  
  .image-preview {
	width: 100%;
	height: 150px;
	overflow: hidden;
	border-radius: 10px;
	margin-top: 15px;
	position: relative;
  }
  
  .image-preview img {
	width: 100%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

  }
  .form-group input[type="file"] {
	background: white;
	color: #757575;
  }

  .new-trip-form button[type="submit"] {
	background: #525ACE;
	color: white;
	padding: 10px;
	border: none;
	border-radius: 10px;
	cursor: pointer;
	width: 25%;
	text-align: center;
	margin: 0 10px;
  }

  .new-trip-form button[type="reset"] {
	background: #ffaaaa;
	color: #ffffff;
	padding: 10px;
	border: none;
	border-radius: 10px;
	cursor: pointer;
	width: 25%;
	text-align: center;
	margin: 0 10px;
  }
  
  .btnList{
	justify-content: center;
  }

  