.schedule{
    border-left: 2px solid #DFE1FF;
    padding: 0 20px 0 40px;
    box-sizing: border-box;
}
.schedule ul{
    overflow-y: scroll;
    height: 200px;
}

.schedule ul  li{
    margin-bottom: 20px;
}
.scheduleDay{
    font-size: 20px;
    color: #333;
    font-weight: 600;
    margin-bottom: 1.5rem;
}

.scheduleTitle{
    font-size: 17px;
    color: #333;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.scheduleContent{
    font-size: 14px;
    color: #888888;
}