/* src/styles/SearchCrew.css */
.searchCrew {
  padding: 20px;
}

.searchCrewHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.searchCrewHeader h2 {
  font-size: 24px;
  margin: 0;
}

.crewFilterWrapper {
  margin-left: auto;
}

.searchCrewFilter {
  padding: 10px;
  font-size: 16px;
}

.searchCrewCard {
  display: flex;
  margin-bottom: 20px;
  border-radius: 8px;
  overflow: hidden;
  background-color: #fff;
  position: relative;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.searchCrewCardImage {
  width: 286px;
  height: 172px;
  object-fit: cover;
  border-radius: 8px;
  margin-right: 20px;
}

.searchCrewCardContent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
}

.searchCrewCardDate,
.searchCrewCardTime,
.searchCrewCardAddress,
.searchCrewCardNote {
  margin: 0 0 10px 0;
}

.searchCrewCardMembers {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

.searchCrewCardMember {
  display: flex;
  align-items: center;
}

/* 참여중인 크루 프사 */
.searchCrewCardMember img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

.searchCrewCardMemberInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

/* 참여 크루 닉네임표기 */
.searchCrewCardMemberInfo p {
  font-size: 14px;
  margin: 0;
}

.viewPersonalityButton {
  padding: 5px 10px;
  font-size: 12px;
  color: #007bff;
  background: #ffffff;
  border: 1px solid #000000;
  border-radius: 15px;
  cursor: pointer;
  margin-top: 5px;
}

.viewPersonalityButton:hover::after {
  content: attr(data-personality);
  position: absolute;
  top: -40px;
  left: 50%;
  transform: translateX(-50%);
  background: white;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  white-space: nowrap;
  z-index: 10;
}

.searchCrewCardButton {
  padding: 10px 20px;
  font-size: 16px;
  color: #ffffff;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.searchCrewCardButton:hover {
  background-color: #0056b3;
}
