.profile-container {
	margin: 20px;
	background-color: #ffffff;
	padding: 20px;
	border-radius: 10px;
  }

  .section-title {
	margin: 25px 55px; /* 제목과 내용 사이의 간격 */
	font-size: 18px;
	font-weight: 900;
	color: #5F6165;
	letter-spacing: -0.7px;
  }


/* 회원정보 영역 */

  .section-user-info {
	border-radius: 8px;
  }
  
  .profile-content {
	display: flex;
	align-items: center;
	margin-bottom: 10%;
  }
  
  .profile-image-container {
	display: flex;
	flex-direction: column;
	align-items: center;
  }
  
  .profile-image {
	margin: 20px 10px 20px 10px; /* 상 우 하 좌 */
	width: 50%;
	height: auto;
	border-radius: 50%;
  }
  
  .user-name {
	font-size: 14px;
	font-weight: bold;
	color: #4D4D4D;
  }
  
  .profile-details-container {
	display: flex;
	align-items: center;
  }
  
  .details-grid {
	display: grid;
	grid-template-columns: 1fr 4fr 1fr 3fr; 
	margin: 0px;
	gap: 50px; /* 항목 간의 간격 */
	align-items: center;
	justify-content: start; /* 내용이 시작 부분에 정렬되도록 설정 */
  }
  
  .details-label {
	color: #5F6165;
	font-size: 12px;
	font-weight: bold;
	text-align: left;
	display: flex;
	align-items: center;
  }
  
  .details-value {
	color: #718EBF;
	font-size: 12px;
	display: flex;
	align-items: center;
  }
  
  .password-button {
	background-color: #ffffff;
	color: #718EBF;
	font-size: 12px;
	border: 1.5px solid #DFEAF2;
	padding: 7px 15px;
	border-radius: 10px;
	cursor: pointer;
  }


/* 나의 여행 성향 영역 */

.section-travel-preferences {
	text-align: center;
}
  .no-preferences {
	color: #718EBF;
	font-weight: bold;
	font-size: 18px;
	letter-spacing: -0.7px;
	text-align: center;
	margin: 10%;
  }

  .preferences-icons {
	display: flex;
	justify-content: center;
	gap: 20px;
	margin: 50px;
  }
  
  .preferences-icons img {
	display: block;
	margin: 0 auto 30% auto;
	width: 75%;
	height: auto;
  }

  .preferences-icons p {
	white-space: pre-line;
	color: #5F6165;
	font-size: 13px;
	letter-spacing: -0.7px;
  }
  
  .edit-button {
	background-color: #ffffff;
	color: #718EBF;
	font-size: 12px;
	border: 1.5px solid #DFEAF2;
	padding: 7px 15px;
	border-radius: 10px;
	cursor: pointer;
  }
