/*/DayPlan.css */
.day-plan {
  width: 30%;
  background-color: #f9f9f9;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.1);
}

.day-plan h3 {
  margin: 10px;
  color : #717171;
}
